#brand {
    font-weight: bold;
    font-size: 30px;
    color: black;
    background-color: #4e84db;
    border: 2px solid black;
    font-family: Oswald;
    text-align: center;
    width: 300px;
    height: 60px;
    font-style: italic;
    text-shadow: 1px 2px white;
    text-transform: uppercase;
}

#main-nav li {
    margin-left: 150px;
    margin-top: 5px;
    font-style: italic;
    font-family: oswald;
    font-size: 19px;
    text-shadow: 1px 2px black;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}

#navblue {
    background-color: #2a60b7;
}

#navbarword {
    color: yellow;
}

#form {
    margin: 100px;
    display: inline-block;
}


#logo {
    margin-top: 125px;
    margin-left: 450px;
    height: 200px;

}

#input {
    height: 100px;
    width: 1000px;
    font-size: 40px;
}

#formButton {
    height: 100px;
    width: 100px;
}

#searchGlyphicon {
    font-size: 40px;
}

#result {
    font-size: 50px;
    height: 65px;
    width: 1000px;
    border:2px double black;
    text-align:center;
    margin:40px;
}