body {
}

#form {
    margin: 100px;
    display: inline-block;
}


#logo {
    margin-top: 125px;
    margin-left: 450px;
    height: 200px;

}

#input {
    height: 100px;
    width: 1000px;
    font-size: 40px;
}

#formButton {
    height: 100px;
    width: 100px;
}

#searchGlyphicon {
    font-size: 40px;
}